<footer>
    <section class="footerinfo">
        <div class="container">
            <div class="footerinfo__wrapper">
                <div class="footerinfo__contactus">Связаться с нами</div>
                <div class="footerinfo__contacts">
                    <a href="https://vk.com/id138795891"><i class="fab fa-vk"></i></a>
                    <a href="https://www.instagram.com/dvmvgedsoul/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </section>
</footer>