<%- include('header') -%>

<section class="registr">
    <div class="container">
        <div class="registr__wrapper">
            <div class="registr__form">
                <div class="registr__title">АВТОРИЗАЦИЯ</div>
                <div class="registr__user-data">
                    <form action="/login" method="post">
                        <% if (message) { %>
                            <h2 class="form__msg"> <%= message %> </h2>
                        <% } %>
                        <input type="text" class="registr__user-data-form" placeholder="Введите логин" name="username">
                        <input type="password" class="registr__user-data-form" placeholder="Введите пароль"
                               name="password">
                        <button type="submit" class="registr__user-data-btn">Войти</button>
                    </form>
                </div>
            </div>
            <a href="/register" class="registr__link">Еще нет аккаунта?</a>
        </div>
    </div>
</section>


</body>
<%- include('footer') -%>
</html>